body {
    font-family: Arial, sans-serif;
    background-color: #5c7eee;
}
#container_titulo{
    text-align: center;
    background-color: #003afa;
    border-radius: 10px;
    border-color: #003afa;
    border-style: solid;
}

.alumnos {
    display: inline-block;
    padding: 10px 15px;
    background-color: #1e90ff; 
    color: #ffffff; 
    text-decoration: none; /* Saca el subrayado del enlace */
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.alumnos:hover {
    background-color: #0c68c7; /* Color del botón cuando pasas el mouse */
    color: #ffffff; /* Mantiene el color del texto al hacer hover */
}


#container_asistencia{

    text-align: right;

}

.tomar {
    display: inline-block;
    padding: 8px 8px;
    background-color: #241ba1; 
    color: #ffffff; 
    text-decoration: none; /* Saca el subrayado del enlace */
    border-radius: 5px;
    font-size: 13px;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.tomar:hover {
    background-color: #2a89e9; /* Color del botón cuando pasas el mouse */
    color: #ffffff; /* Mantiene el color del texto al hacer hover */
}

#container_crear{
    display: flex;
    text-align: left;

}

.crear {
    display: inline-block;
    padding: 8px 8px;
    background-color: #1eadff; 
    color: #ffffff; 
    text-decoration: none; /* Saca el subrayado del enlace */
    border-radius: 5px;
    font-size: 13px;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.crear:hover {
    background-color: #7116d8; /* Color del botón cuando pasas el mouse */
    color: #ffffff; /* Mantiene el color del texto al hacer hover */
}

#container_salir{
    text-align: left;
    display: flex;

}

.salir {
    display: inline-block;
    padding: 8px 13px;
    background-color: #1e90ff; 
    color: #ffffff; 
    text-decoration: none; /* Saca el subrayado del enlace */
    border-radius: 5px;
    font-size: 10px;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.salir:hover {
    background-color: #0c68c7; /* Color del botón cuando pasas el mouse */
    color: #ffffff; /* Mantiene el color del texto al hacer hover */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}
